<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícia</h1>

		<table>
			<tr>
				<td>Id</td>
				<td>Título</td>
				<td>Notícia</td>
			</tr>
		
			<tr>
				<td><%= noticia[0].id_noticia %></td>
				<td><%= noticia[0].titulo %></td>
				<td><%= noticia[0].noticia %></td>
			</tr>
		</table>

	</body>
</html>